.header_content{
    max-width: 1180px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header_logo{
    display:flex;
    align-items: center;
}
/*
.heade_logo_img{

}
*/

.header_search{
    display:flex;
    align-items: center;
}

/*
.header_login{
    display:flex;
}
*/
/*
.header_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

.circle{ 
    position: relative;
    top: 17px;
    left: -8px;  
    height: 36px;
    width: 36.5px;
    border-radius: 50px;
    background-color: #E5261E;

}

.triangle-4
{   
    position: relative;
    top: -19px; 
    height: 0px;
    width: 0px;
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;
    border-left: 31px solid #ffffff;
}

.logo_name{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.header_search_input{
    width: 320px;
    border: 1px solid #333333;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    height: 25px;
    padding: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

textarea:focus, input:focus{
    outline: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.header_search_button{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E5261E;
    background:none;
    border:none;
    cursor: pointer;
    width: 50px;
    height: 19px;
    margin-left: 32px;
}
/*
.header_login{

}
*/
.button_login{
    color: white;
    width: 113px;
    height: 38px;
    background: #E5261E;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 0;
    margin-top: 1px;
    cursor: pointer;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

main{
    max-width: 1180px;
    margin:auto;
}

.tabs {
    border: 0px;
  }
  
.tabs_nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #ffffff;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

.films_nav{
    margin-left: 35%;
}
.tv_nav{
    margin-right: 30%;
}
  
.tabs_link {
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: right;  
    color: #333333;
}
  
.tabs_link_active {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: right;  
    color: #E5261E;
    padding-bottom: 9px;
    border: 2px solid #E5261E; 
    border-top: 0;
    border-left: 0;
    border-right: 0; 
  }
  
.tabs_link:not(.tabs_link_active):hover,
.tabs_link:not(.tabs_link_active):focus {
    background-color: #ffffff;
  }
  
.tabs_content {
    padding: 0;
  }
  
.tabs_pane {
    display: none;
  }
  
.tabs_pane_show {
    display: block;
  }

.films_new_releases{
    display: flex;
}

.new_releases{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #333333;
}

.films_content{
    max-width: 1180px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.films_1{
    max-width: 750px;
    max-height: 450px;
}

#films_1 .text{
    position: relative;
    top:-390px;
    left: 10px;
    visibility:hidden;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    width: 248px;
    font-size: 16px;
    line-height: 140%;
    color: #F2F2F2;
    
}

#films_1:hover .text{
    visibility:visible;
}