.header_content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header_logo{
    display:flex;
    align-items: center;
}
/*
.heade_logo_img{

}
*/
/*
.header_search{
    display:flex;
}
*/
/*
.header_login{
    display:flex;
}
*/
/*
.header_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

.circle{ 
    position: relative;
    top: 17px;
    left: -8px;  
    height: 36px;
    width: 36.5px;
    border-radius: 50px;
    background-color: #E5261E;

}

.triangle-4
{   
    position: relative;
    top: -19px; 
    height: 0px;
    width: 0px;
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;
    border-left: 31px solid #ffffff;
}

.logo_name{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}